<!-- begin choice -->
<div class="choice">
	{% for item in choice %}
		<div class="choice__wrapper">
			<input type="radio" name="radio" class="choice__input" id="{{item.id}}">
			<div class="choice__item {{item.itemClassList}}">
				<div class="choice__selected">selected</div>
				{% if item.img %}
					<div class="choice__img {{item.imgClassList}}"><img src="img/{{item.img}}.svg" alt="home" class="img"></div>
				{% endif %}
				{% if item.number %}
					<div class="choice__number"><span>{{item.number}}</span></div>
				{% endif %}
				<div class="title-sm choice__title">{{item.title}}</div>
				{% if item.label %}
					<div class="choice__label">{{item.label}}</div>
				{% endif %}
				{% if item.price %}
					<div class="choice__price">{{item.price}}</div>
				{% endif %}
				{% if item.month %}
					<div class="choice__month">{{item.month}}</div>
				{% endif %}
				<div class="choice__description {{item.descriptionClassList}}">{{item.description}}</div>
				<label for="{{item.id}}" class="choice__radio"></label>
			</div>
		</div>
	{% endfor %}
</div>
<!-- end choice -->
