<!-- begin header -->
<header class="header">
	<div class="header__inner">
		<a href="#" class="header__logo">
			{{mixins.icon('logo', 'header__logo-icon')}}
		</a>
		<div class="profile">
			<div class="profile__container">
				<div class="profile__img" style="background-image: url(img/avatar.png);"></div>
				<div class="profile__content">
					<div class="profile__title">Andrew Eddy</div>
					<div class="profile__meta">
						{{mixins.icon('marker', 'profile__icon')}}
						<span>Decatur</span>
					</div>
				</div>
			</div>
		</div>
		<div class="menu">
			<button class="control__control">
				{{mixins.icon('arrow-down')}}
			</button>
			<div class="menu__dropdown">
				<ul class="menu__list">
					{% for item in [
						{ title: 'Profile' },
						{ title: 'Billing' },
						{ title: 'Reminders' },
						{ title: 'Sign Out' }
					] %}
						<li class="menu__item">
							<a href="#" class="menu__link">{{item.title}}</a>
						</li>
					{% endfor %}
				</ul>
				<div class="menu__footer">
					<div class="menu__label">Food Saved</div>
					<div class="menu__value">312 lbs</div>
					<div class="menu__progressbar">
						<div class="menu__progress"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- end header -->