<!-- begin share -->
<div class="share">
	<div class="share__inner">
		<div class="share__title">
			<span>Share our story with your neighbors</span>
			We need your help to spread the word
		</div>
		<div class="share__btns">
			<div class="share__btn">
				<a href="#" class="btn btn_white btn_wide">
					<img src="img/facebook.png" alt="facebook" class="btn__facebook">
				</a>
			</div>
			<div class="share__btn">
				<a href="#" class="btn btn_white btn_wide">
					<img src="img/nextdoor.png" alt="nextdoor" class="btn__nextdoor">
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end share -->