---
title: create-password
outClassList: 'out_simple'
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main -->
<div class="main main_simple">
	{% include 'partials/components/_simple-header.html' %}
	<div class="inner">
		{% set form = {
			title: 'Create Password',
			desc: 'Please create a password for your account',
			fields: [
				{placeholder: 'Password', type: 'password'},
				{placeholder: 'Repeat Password', type: 'password'}
			],
			btn: 'create password & sign in',
			btnClassList: 'btn_wide btn_xxs-sm',
			btnLink: 'dashboard.html'
		} %}

		{% include 'partials/components/_form.html' %}
	</div>
</div>
<!-- end main -->

{% endblock %}
