---
title: dwelling-type
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main -->
<div class="main">
	<div class="inner">
		<div class="wrapper">
			{% set steps = {
				active: '1'
			} %}

			{% include 'partials/components/_steps.html' %}

			<div class="title-md">What type of dwelling do you live in?</div>

			{% set choice = [
				{
					id: 'item-0',
					img: 'home',
					title: 'I live in a',
					label: 'Standalone Home',
					description: 'I live in a home that has a driveway and room for a rollcart for curbside pickup'
				},
				{
					id: 'item-1',
					img: 'build',
					title: 'I live in a',
					label: 'Apartment or Highrise',
					description: 'I live in a apartment complex or highrise and do not have a driveway'
				}
			] %}

			{% include 'partials/components/_choice.html' %}


			{% set controls = {
				prev: 'exit',
				next: 'next',
				disabled: 'disabled'
			} %}
			{% include 'partials/components/_btn-control.html' %}
		</div>
	</div>
</div>
<!-- end main -->

<!--aside begin -->
<aside class="aside">
	<div class="aside__head">
		<h3 class="aside__title title">Compost Plan</h3>
	</div>
	<span class="aside__label label">Pickup Type</span>
	{% include "partials/components/_pickup-type.html" %}
</aside>
<!--aside end -->

{% endblock %}
