---
title: frequency
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main -->
<div class="main">
	<div class="inner">
		{% include 'partials/components/_steps.html' %}
	</div>
</div>
<!-- end main -->

<!--aside begin -->
<aside class="aside">
	<span class="aside__label label">Pickup Type</span>
	{% include "partials/components/_pickup-type.html" %}
	<span class="aside__label label">Service Address</span>
	{% include "partials/components/_service-address.html" %}
	<div class="aside__wrap">
		<div class="aside__row text">
			<div class="text__left-column">Frequency</div>
			<div class="text__right-column">Bi-Weekly</div>
		</div>
	</div>
	<div class="aside__footer">
		<h3 class="aside__title title">Compost Plan</h3>
	</div>
</aside>
<!--aside end -->

{% endblock %}