---
title: frequency
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main -->
<div class="main">
	<div class="inner">
		<div class="wrapper">
			{% set steps = {
				active: '2.5'
			} %}

			{% include 'partials/components/_steps.html' %}

			<div class="title-md">How often do you want us to pickup?</div>

			{% set choice = [
				{
					itemClassList: 'choice__item_indent',
					id: 'item-0',
					number: '4X',
					title: 'Weekly',
					price: '$29',
					month: '4 pickups per month',
					description: 'We will come by every week on the same day to pickup your compost.',
					descriptionClassList: 'is-hidden'
				},
				{
					itemClassList: 'choice__item_indent',
					id: 'item-1',
					number: '2X',
					title: 'BI-weekly',
					price: '$19',
					month: '2 pickups per month',
					description: 'We will come by every other week on the same day to pickup your compost.',
					descriptionClassList: 'is-hidden'
				}
			] %}

			{% include 'partials/components/_choice.html' %}

			{% set controls = {
				prev: 'back',
				next: 'next',
				disabled: 'disabled'
			} %}
			{% include 'partials/components/_btn-control.html' %}
		</div>
	</div>
</div>
<!-- end main -->

<!--aside begin -->
<aside class="aside">
	<div class="aside__container">
		<div class="aside__wrapper">
		<div class="aside__head">
			<h3 class="aside__title title">Compost Plan</h3>
		</div>
			<div class="aside__field">
				<span class="aside__label label">Pickup Type</span>
				{% include "partials/components/_pickup-type.html" %}
			</div>
			<div class="aside__field">
				<span class="aside__label label">Service Address</span>
				{% include "partials/components/_service-address.html" %}
				<div class="aside__wrap">
					<div class="aside__row text">
						<div class="text__left-col">
							<span>Frequency</span>
						</div>
						<div class="text__right-col">
							<span>Bi-Weekly</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="aside__footer price">
			<div class="price__left">
				<span>Monthly Fee</span>
			</div>
			<div class="price__right">
				<span>$19/mo</span>
			</div>
		</div>
	</div>
</aside>
<!--aside end -->

{% endblock %}
