---
title: Home
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main -->
<div class="main">
	<div class="inner">
		<div class="wrapper">
			{% include 'partials/components/_steps.html' %}

			<div class="title-md">Personal info</div>

			{% set controls = {
				prev: 'back',
				next: 'next',
				disabled: 'disabled'
			} %}
			{% include 'partials/components/_btn-control.html' %}
		</div>
	</div>
</div>
<!-- end main -->

<!--aside begin -->
<aside class="aside">
	<div class="aside__head">
		<h3 class="aside__title title">Compost Plan</h3>
	</div>
	<span class="aside__label label">Pickup Type</span>
	{% include "partials/components/_pickup-type.html" %}
</aside>
<!--aside end -->

{% endblock %}
