---
title: reminder-notification
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main -->
<div class="main main_fullscreen">
	<div class="inner inner_sm">
		<div class="wrapper">
			<div class="title-md">Pickup reminder notifications</div>

			{% set grid = [
				[
					{
						classList: 'grid__col_50 grid__col_xs-100',
						title: 'Email reminder',
						fieldOptions: {
							classList: 'is-valid field_indent',
							input: true,
							placeholder: 'Email'
						}
					},
					{
						classList: 'grid__col_50 grid__col_xs-100',
						title: 'Text reminder',
						fieldOptions: {
							classList: 'field_indent',
							input: true,
							placeholder: 'Phone'
						}
					}
				],
				[
					{
						classList: 'grid__col_50 grid__col_xs-100',
						choiceOptions: {
							text: 'Email me at 7:00 pm the night before my next pickup'
						}
					},
					{
						classList: 'grid__col_50 grid__col_xs-100',
						choiceOptions: {
							text: 'Email me at 7:00 pm the night before my next pickup'
						}
					}
				],
				[
					{
						classList: 'grid__col_50 grid__col_xs-100',
						choiceOptions: {
							text: 'Email me at 7:00 am the morning of my next pickup'
						}
					},
					{
						classList: 'grid__col_50 grid__col_xs-100',
						choiceOptions: {
							text: 'Email me at 7:00 am the morning of my next pickup'
						}
					}
				]
			] %}

				<div class="grid">
					{% for row in grid %}
						<div class="grid__row">
							{% for col in row %}
								<div class="grid__col {{col.classList}}">
									{% if col.title %}
										<div class="subtitle">{{col.title}}</div>
									{% endif %}
									{% if col.innerCols %}
										<div class="grid__row">
											{% for innerCol in col.innerCols %}
												<div class="grid__col {{innerCol.classList}}">
													{{field.call(innerCol.fieldOptions)}}
												</div>
											{% endfor %}
										</div>
									{% else %}
										{{field.call(col.fieldOptions)}}
									{% endif %}
									{% if col.choiceOptions %}
										{{choiceItem.call(col.choiceOptions)}}
									{% endif %}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>

			{% set controls = {
				prev: 'exit',
				next: 'save',
				classList: 'is-active',
				linkNext: 'dashboard.html'
			} %}
			{% include 'partials/components/_btn-control.html' %}
		</div>
	</div>
</div>
<!-- end main -->

{% endblock %}
