{% import 'partials/mixins/_mixins.html' as mixins %}

{% macro call(props) %}
	{% if props.input %}
		<div class="field {{props.classList}}">
			{% if props.icon %}
				<img src="img/{{props.icon}}.svg" alt="{{props.icon}}" class="field__icon field__{{props.icon}}">
			{% endif %}
			{% if props.help %}
				<span class="field__icon field__help">?</span>
			{% endif %}
			{{mixins.icon('check', 'field__icon field__check')}}
			<input type="{{props.type or 'text'}}" class="field__input" placeholder="{{props.placeholder}}">
		</div>
	{% endif %}
{% endmacro %}
