.btn
	display: inline-block
	vertical-align: top
	padding: 13px 35px
	border-radius: 5px
	background: $dusk
	box-shadow: 0 4px 8px 0 rgba($black, .06)
	font-family: 'Open Sans', ssans-serif
	+f(14px, 600, 1)
	letter-spacing: 1.2px
	color: $white
	text-align: center
	text-decoration: none
	text-transform: uppercase
	transition: color 0.25s, background 0.25s
	+xs
		padding-left: 25px
		padding-right: 25px
	&:hover
		background: $white
		color: $iris
	&[disabled],
	&:disabled
		background: $dusk
		color: $dark-grey-blue-two
		cursor: not-allowed
		pointer-events: none
		+hover
			background: $dusk
			color: $dark-grey-blue-two
	&_white
		background: $white
		color: $iris
		&:hover
			background: $dusk
			color: $white
	&.is-active
		background: $white
		color: $iris
