.text
	display: flex
	align-items: center
	justify-content: space-between
	line-height: 1.71
	font-size: 15px
	color: $bluey-grey
	&__left-col
		display: flex
		flex-direction: column
		justify-content: flex-start
		span
			margin-bottom: 17px
	&__right-col
		display: flex
		flex-direction: column
		justify-content: flex-end
		font-weight: 600
		span
			margin-bottom: 17px

.price
	&__left-col_mod
		font-size: 17px
		line-height: 1.5
		color: $dark-grey-blue-two
		text-align: left
	&__right-col_mod
		font-size: 17px
		line-height: 1.5
		font-weight: 600
		text-align: right
		color: $dark-grey-blue-two

