.text
	display: flex
	align-items: center
	justify-content: space-between
	line-height: 1.71
	font-size: 15px
	color: $bluey-grey
	&__left-col
		display: flex
		flex-direction: column
		justify-content: flex-start
		span
			text-align: left
			margin-bottom: 17px
	&__right-col
		display: flex
		flex-direction: column
		justify-content: flex-end
		font-weight: 600
		span
			text-align: right
			margin-bottom: 17px
	&__dropdown
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 0
		line-height: 1.71
		font-size: 15px
		color: $bluey-grey
		margin-bottom: 17px
		&.is-active
			.text__arrow
				transform: translateY(-7px)
			.text__apply
				display: block
	&__title
		display: block
		text-decoration: none
		color: $bluey-grey-two
	&__apply
		display: none
	&__wrap
		width: 100%
		position: relative
	&__arrow
		position: absolute
		right: 0
		line-height: 0
		bottom: 9px
		fill: #1b2125
		font-size: 8px

.price
	&__left
		font-size: 17px
		line-height: 1.5
		color: $dark-grey-blue-two
		text-align: left
	&__right
		font-size: 17px
		line-height: 1.5
		font-weight: 600
		text-align: right
		color: $dark-grey-blue-two

