.pickup
	padding: 24px
	box-shadow: 0 0px 20px rgba(0,0,0,.2);
	border-radius: 4px
	&__title
		text-transform: uppercase
		font-family: 'OpenSans';
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: 1.2px;
		color: #32325d;