.service-address
	height: 140px
	width: 100%
	box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.16)
	border-radius: 4px

.map
	height: 140px
	width: 100%
	border-radius: 5px
	box-shadow: 0 0px 20px rgba(0,0,0,.2)
	a[target="_blank"]
		background-color: inherit
		display: none
	.gm-style div a img
		display: none
	.gm-style-cc
		display: none
