.icon-build {
  width: 1.13em;
  height: 1em;
  fill: #FFA27B;
}
.icon-check {
  width: 1.3em;
  height: 1em;
  fill: #FFF;
}
.icon-home {
  width: 1.36em;
  height: 1em;
  fill: #FFCCA5;
}
