.icon-arrow-down {
  width: 1.6em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.3em;
  height: 1em;
  fill: #FFF;
}
.icon-logo {
  width: 3.48em;
  height: 1em;
  fill: none;
}
.icon-marker {
  width: 0.82em;
  height: 1em;
  fill: #59C78A;
}
